:root{
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --background-dark-color: #282c34;
    --background-dark-grey: #20232a;
    --border-color: #2e344e;
    --background-light-color: #f8f9fa;
    --background-light-color-2: #e2e6ea;
    --white-color: #fff;
    --font-light-color: #a4acc4;
    --font-dark-color: #313131;
    --font-dark-color-2: #151515;
    --sidebar-dark-color: #191d2b;
    --scrollbar-bg-color: #383838;
    --scrollbar-thump-color: #6b6b6b;
    --scrollbar-track-color: #383838;
  }
  body{
    background-color: var(--background-dark-color);
  }
  .header{
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    padding: 2rem 2.5rem;
    height: 100vh;
    border-bottom-right-radius: 100%;
    float: left;
    width: 25%;
    border-right: 2px solid var(--border-color);
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    transition: all .4s ease;
    background-color: var(--sidebar-dark-color);
  }
  .header .logo{
    color: var(--white-color);
    font-size: 2.2rem;
    font-weight: 600;
  }
  .user-name{
    color: var(--white-color);
    font-size: 1.5rem;
    font-weight: 500;
    border: 2px solid var(--border-color);
    padding: 10px 20px;
    border-radius: 8rem;

  }

  .profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  
  .main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 5rem;
    padding: 40px 10px;
    padding-left: 80px;
    width: 55%;
    transition: all .4s ease;
    
  }
  .main h2{
    color: var(--white-color);
    padding-top: 1rem;
    font-size: 2rem;
    font-weight: 500;
  }
  
  .btn-create-task{
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: all .4s ease;
  }
  .container_tasks{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
  }
  .no-tasks{
    color: var(--white-color);
    font-size: 2.5rem;
    font-weight: 700;
    margin-top: 2rem;
  }
  .form{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid var(--border-color);
    gap: 1rem;
    width: 98%;
    padding: 1rem;
    box-sizing: border-box;
    background-color: var(--background-dark-grey);
  }
  .form input{
    width: 75%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    border: 1px solid var(--border-color);
  }
  .form textarea{
    width: 70%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    min-height: 100px;
    border: 1px solid var(--border-color);
  }
  .btn-create-task{
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: all .4s ease;
  }
  .btn-create-task:hover{
    background-color: var(--secondary-color);
  }