# Ignore node_modules
node_modules

# Ignore logs
logs
*.log
npm-debug.log*

# Ignore environment variables
.env

# Ignore build directories
dist
build

# Ignore Dockerfile
Dockerfile

# Ignore Docker Compose file
docker-compose.yml

# Ignore any other files or directories you want to exclude